
<ion-grid [fixed]="true">
  <ion-card  [style]="{width:'50%',margin:'auto', top :'20%'}">
    <ion-card-header>
      <ion-card-title>Forget Password</ion-card-title>
    </ion-card-header>
    <ion-card-content padding>
      <form [formGroup]="ForgetForm">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Email</ion-label>
          <ion-input   type="email" formControlName="Email"></ion-input>
        </ion-item>



        <ion-button type="submit" expand="full" (click)="forget()">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-grid>

<!-- <ion-header>
<ion-toolbar>
  <ion-title>Login</ion-title>
</ion-toolbar>
</ion-header> -->