::ng-deep{
   
    ion-card-header{
        --background: #2c5d82;
        --color: white;
      text-align: center;
        border : 1px solid #1c3142;
        --border-width: 4px 0;      
        --min-height: 65px;
        --padding-top: 15px;
        --padding-bottom: 15px;
      }
      ion-button {
         border : 1px solid #1c3142;
        --background: #2c5d82;
        font-size: 18px;
        color: white;
        margin-bottom: 5px;
        margin-top: 60px;
        border-radius: 3px;
        width: 90%;
        margin-left: 32px;
      
      }
       
        // ion-grid {
        //   --ion-grid-width: 50%;
        
        //   --ion-grid-width-xs: 50%;
        //   --ion-grid-width-sm: 288px;
        //   --ion-grid-width-md: 384px;
        //   --ion-grid-width-lg: 480px;
        //   --ion-grid-width-xl: 570px;
        // }
      
     
      ion-card-title{
        font-size: 26px;
        text-align: ceter;
        color:white ;
      }
      
      ion-card-subtitle{
        padding-top: 100px;
    
      }
    //   ion-row{
    //     background-color: #78a1bf;
    //     border: solid 1px #fff;
    //     color: #fff;
    //     text-align: center;
    //     padding-top: 15px;
    //     padding-bottom: 15px;
    //     padding-left: 7px;
    // border: 1px solid #446075;
    // }
  
      .today{
        font-size: 18px;
      }
   
    .Forgot{
        text-align: right;
    }
    .remember{
        text-align: start;
    }
    .ion-margin-bottom{
        margin-bottom:20px;
        margin-top: 20px;
    }
   
}
// #togglePassword {
//     margin-left: -30px;
//     cursor: pointer;
//     color: black;
//   }
//  .page-container {
//         background-repeat: no-repeat;
//        background-position: center;
//        height: 100vh; /* Adjust to your preference */
//        background-image: url('..img/back.jpg');
//        /* Adjust the path to your image */
//        background-size: cover;
//         background-attachment: fixed;
//      }
@media screen and (max-width: 768px) {
  ion-card {
    width:100% !important;
    margin: 0;
  }
}