 <app-navbar></app-navbar>
<!-- <div class="page"> -->
<ion-content>
  <div  size="12" size-sm="12" size-md="12" class="bgblue marginL">
    <div class="today"><b> Today: {{todayTotal}} </b></div>
  </div>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6">
        <ion-title class="bgblue1 mLR">
          <b>Group Summary</b>
        </ion-title>
        <div style="height: 60vh !important;display: flex; justify-content: center; align-items: center;">
          <canvas id="pieChart"></canvas>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <ion-title class="bgblue1 mLR">
          <b>Sales</b>
        </ion-title>
        <div style="height: 60vh !important;display: flex; justify-content: center; align-items: center;">
          <canvas id="lineChart"></canvas>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>POS Form</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Cash Amt </th>
                <th>Credit Amt </th>
                <th>Sale Amt </th>
                <th> Date </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of detail">
                <td>{{ item.CashAmount }}</td>
                <td>{{ item.CreditCardAmount }}</td>
                <td>{{ item.SalesAmount }}</td>
                <td>{{ item.SummaryDateString }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>Transaction</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Inv</th>
                <th> Time</th>
                <th> Amount</th>
                <th>Cash</th>
                <th>Card</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of traction">
                <td>{{ item?.Id }}</td>
                <td>{{ item?.CreatedDateString }}</td>
                <td>{{ item?.Amount }}</td>
                <td>{{ item?.Cash }}</td>
                <td>{{ item?.BillNo }}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12">
        <div class="bgblue1 mLR">
          <b>Transaction Void</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Oredr No</th>
                <th> Item Name </th>
                <th>Qty </th>
                <th> User </th>
                <th> Time </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
   

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="12" size-sm="12" size-md="12">
    <div class="bgblue1 mLR">
      <b>Group Summary</b>
    </div>
    <ion-row size="12" size-sm="12" size-md="12">
      <ion-col size="12" *ngFor="let item of itemSummary" size-sm="12" size-md="3">
        <div class="group">Item Group:{{item.GroupName}}</div>
        <div class="group">Item Name:</div>
        <div class="group">Amount: {{item.Amount}}</div>
        <div class="abc">QTY %:4</div>
        <br>
        <div class="abc">Amount %: {{item.Percentage}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="12"  size-sm="12" size-md="12">
    <div class="bgblue1 mLR">
      <b>Today Status</b>
    </div>
    <ion-row  size="12"  size-sm="12" size-md="12">

      <ion-col *ngFor="let item of todayStatus" size="12" size-sm="12" size-md="3">
        <div class="group">Total No Customer: {{item?.Id}}</div>
        <div class="group">Last Punched: {{item?.LastBillTime}}</div>
        <div class="group">Total Bills: {{10}}</div>
        <div class="abc">Total Bill Amount %: {{item?.LastBillAmount}}</div>
        <br>
        <div class="abc">Amount %: 9</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- </div> -->
<!-- <app-navbar></app-navbar>
<app-dashboard></app-dashboard> -->
<!-- <ion-router-outlet></ion-router-outlet> -->