<app-navbar></app-navbar>
<!-- <div class="page"> -->
<ion-content>
  <!-- <div class="bgblue marginL today" *ngFor="let item of detail">
    <span style="float: right;">{{item?.SummaryDate | date:'dd-MMM-yyyy'}} </span>

    <span> Gross : {{'999'}} </span><br>
    <span> Runn. : {{'77'}} </span><br>
    <span style="padding-right: 10px;"> Net   : {{todayTotal}} </span>

  </div> -->
 <div class="bgblue marginL today" *ngFor="let item of detail" style="position: relative; padding: 1rem;">
   <span style="position: absolute; right: 10px; top: 15px;">
    {{ item?.SummaryDate | date: 'dd-MMM-yyyy' }}
  </span>

   <pre style="margin: 0; font-family: monospace; columns: white;">
Gross :  {{ 999 }}
Runn. :   {{ 77 }}
Net   :  {{ todayTotal }}
  </pre>
</div>



  <br>
  <ion-grid>
    <ion-row>
  
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>POS Form</b>
        </div>
        <div class="table-container">
          <table class="custom-table" *ngIf="detail && detail.length > 0; else noData">
            <thead>
              <tr>
                <!-- <th>Date</th> -->
                <th style="text-align: center;">Sales Amount</th>
                <th style="text-align: center;">Cash Amount</th>
                <th style="text-align: center;">CC Amount</th>
                <th style="text-align: center;">Total Revenue</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of detail">
                <td style="color: black; text-align: center;">{{ round(item?.SalesAmount) }}</td>
                <td style="color: black;text-align: center;">{{ item?.CashAmount }}</td>
                <td style="color: black;text-align: center;">{{ item?.CreditCardAmount }}</td>
                <td style="color: black;text-align: center;">{{ item?.CreditCardAmount+item.CashAmount }}</td>

              </tr>
            </tbody>
          </table>

          <ng-template #noData>
            <p>No data available</p>
          </ng-template>

          <!-- <table class="custom-table">
            <thead>
              <tr>
                <th>Cash Amt </th>
                <th>Credit Amt </th>
                <th>Sale Amt </th>
                <th> Date </th>
              </tr>
            </thead>
           <tbody>
  <tr *ngFor="let item of detail">
    <td>{{ item?.CashAmount }}</td>
    <td>{{ item?.CreditCardAmount }}</td>
    <td>{{ item?.SalesAmount }}</td>
    <td>{{ item?.SummaryDateString }}</td>
  </tr>
</tbody>

          </table> -->
        </div>

      </ion-col>
            <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>Previous Days Sales</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Date</th>
                <th style="text-align: center;">Sales Amount</th>
                <th style="text-align: center;">Cash Amount</th>
                <th style="text-align: center;">Credit Card Amount</th>
                <th style="text-align: center;">Total Revenue</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of PreviousData">
                <td style="color: black;">{{item?.OrderDate | date:'dd-MMM-yyyy'}} </td>
                <td style="color: black; text-align: center;">{{item?.SalesAmount}} </td>
                <td style="color: black; text-align: center;">{{item?.CashAmount}} </td>
                <td style="color: black; text-align: center;"> {{item?.CreditCardAmount}}</td>
                <td style="color: black; text-align: center;">{{ (item?.CreditCardAmount || 0) + (item?.CashAmount || 0)
                  | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </ion-col>
      <!-- <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>Sales</b>
              </div>
        <div style="height: 60vh !important;display: flex; justify-content: center; align-items: center;">
          <canvas id="lineChart"></canvas>
        </div>
      </ion-col> -->

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>Sattled Bills</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Invoice No</th>
                <th> Time</th>
                <th style="text-align: center;"> Amount</th>
                <th style="text-align: center;">Cash</th>
                <th style="text-align: center;">Card</th>
              </tr>
            </thead>
            <tbody>
              <!-- | date:'HH:mm' -->
              <tr *ngFor="let item of traction">
                <td style="color: black;">{{ item?.BillNo }}</td>
                <td style="color: black;">{{ item?.CreatedDateString | date:'HH:mm' }}</td>
                <td style="color: black; text-align: center;">{{ item?.Amount }}</td>
                <td style="color: black; text-align: center;">{{ item?.Cash }}</td>
                <td style="color: black; text-align: center;">{{ item?.Credit }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b> Running Bills</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Order No</th>
                <th> Table </th>
                <th>Waiter </th>
                <th style="text-align: center;"> Amount </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of PandingOrders">
                <td style="color: black;">{{item?.OrderNo}} </td>
                <td style="color: black;">{{item?.Table}} </td>
                <td style="color: black;">{{item?.WAITER}} </td>
                <td style="color: black; text-align: center;">{{item.Amount}} </td>
              </tr>
            </tbody>
          </table>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12">
        <div class="bgblue1 mLR">
          <b>Transaction Void</b>
        </div>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th >Oredr No</th>
                <th > Item Name </th>
                <th >Qty </th>
                <th > User </th>
                <th > Time </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of VoidTransection">
                <td style="color: black;">{{item?.OrderID}} </td>
                <td style="color: black;">{{item?.ItemName}} </td>
                <td style="color: black;">{{item?.Quantity}} </td>
                <td style="color: black;">{{item?.UserName}} </td>
                <td style="color: black;">{{item?.DateAndTime}} </td>
              </tr>
            </tbody>
          </table>
        </div>
   

      </ion-col>
    </ion-row>
  </ion-grid> -->



  <ion-grid>
    <ion-row>

          <ion-col size="12" size-sm="12" size-md="6">
        <div class="bgblue1 mLR">
          <b>Group Summary</b>
        </div>
        <div style="height: 60vh !important;display: flex; justify-content: center; align-items: center;">
          <canvas id="pieChart"></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid size="12" size-sm="12" size-md="12">
    <div class="bgblue1 mLR">
      <b>Category Summary</b>
    </div>
    <ion-row size="12" size-sm="12" size-md="12">
      <ion-col size="12" *ngFor="let item of itemSummary" size-sm="12" size-md="3">
        <div class="group">Category:{{item.GroupName}}</div>
         <div class="group">Amount: {{item.Amount}}</div>
         <br>
        <div class="abc">Amount %: {{item.Percentage}}</div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-grid size="12" size-sm="12" size-md="12">
    <div class="bgblue1 mLR">
      <b>Today Status</b>
    </div>
    <ion-row size="12" size-sm="12" size-md="12">

      <ion-col *ngFor="let item of todayStatus" size="12" size-sm="12" size-md="3">
        <div class="group" *ngIf="item?.NoOfCustomers">Total No Customer: {{item?.NoOfCustomers}}</div>
        <div class="group">Last Punched: {{item?.LastBillTime | date:'HH:mm'}}</div>
        <div class="group">Total Bills: {{item?.TotalBills}}</div>
        <div class="group">Last Bill Amount: {{item?.LastBillAmount}}</div>
        <br>
        <!-- <div class="abc">Amount %: 9</div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- </div> -->
<!-- <app-navbar></app-navbar>
<app-dashboard></app-dashboard> -->
<!-- <ion-router-outlet></ion-router-outlet> -->